# Python Basic

## Numbers (int & float)

In [16]:
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(2 / 4)

print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))

print(type(0.00001))
print(type(0))
print(type(10.56))

print(type(20 + 1.1))
print(type(9.9 + 1.1))
print(9.9 + 1.1)

print(2 ** 3)
print(2 // 4)
print(5 // 4)
print(6 % 4)

6
-2
8
0.5
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
11.0
8
0
1
2

## Math Functions
https://www.programiz.com/python-programming/modules/math

In [20]:
print(round(3.1))
print(round(3.9))
print(abs(-20))

3
4
20

## Operator Precedence

In [22]:
print(20 - 3 * 4)
print((20 - 3) + 2 ** 2)

8
21

## bin() and complex

In [96]:
print(complex)
print(bin(5))
print(int('0b101', 2))

<class 'complex'>
0b101
5

## Variables

In [37]:
user_iq = 190
user_age = user_iq / 4
print(user_iq)
print(user_age)

PI = 3.14
print(PI)
PI = 0
print(PI)

a,b,c = 1,2,3
print(a)
print(b)
print(c)

190
47.5
3.14
0
1
2
3

## Augmented Assignment Operator

In [43]:
some_value = 5
some_value += 2
print(some_value)
some_value = 5
some_value -= 2
print(some_value)
some_value = 5
some_value *= 2
print(some_value)

7
3
10

## Strings

In [50]:
print(type('hi hello there 24!'))
print(type("hi hello there 24!"))
username = 'supercoder'
password = 'supersecert'
long_string = '''
W0W
0 0
---
'''
print(long_string)
first_name = 'Kairos'
last_name = 'Tseng'
full_name = first_name + ' ' + last_name
print(full_name)

<class 'str'>
<class 'str'>

W0W
0 0
---

Kairos Tseng

## Type Conversion

In [58]:
print(type(str(100)))
print(type(int(str(100))))

<class 'str'>
<class 'int'>

## Escape Sequences

In [66]:
weather = "\t It\'s \"kind of\" sunny \n hope you have a good day!"
print(weather)

	 It's "kind of" sunny
 hope you have a good day!

## Formatted Strings

In [76]:
name = 'Johnny'
age = 55
print('hi ' + name + '. You are '+ str(age) + ' year old')
print(f'hi {name}. You are {age} year old')
print('hi {}. You are {} year old'.format('Johnny', '55'))
print('hi {}. You are {} year old'.format(name, age))
print('hi {1}. You are {0} year old'.format(age, name))
print('hi {new_name}. You are {age} year old'.format(new_name = 'Sally', age = 100))

hi Johnny. You are 55 year old
hi Johnny. You are 55 year old
hi Johnny. You are 55 year old
hi Johnny. You are 55 year old
hi Johnny. You are 55 year old
hi Sally. You are 100 year old

## String Indexes

In [90]:
selfish = '01234567'
print(selfish)
print(selfish[0])
print(selfish[7])
print(selfish[0:2])
print(selfish[0:7])
print(selfish[0:8:2])
print(selfish[1:])
print(selfish[:5])
print(selfish[::1])
print(selfish[-1])
print(selfish[-3])
print(selfish[::-1])
print(selfish[::-2])

01234567
0
7
01
0123456
0246
1234567
01234
01234567
7
5
76543210
7531

## Immutability

In [92]:
selfish = '01234567'
selfish[0] = '8'

TypeError: 'str' object does not support item assignment

## Build-In Functions + Methods

In [115]:
print(len('hellloooo'))
greet = 'hellloooo'
print(greet[0:len(greet)])
quote = 'to be or not to be'
print(quote.upper())
print(quote.capitalize())
print(quote.find('be'))
print(quote.replace('be', 'me'))

9
hellloooo
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me

## Booleans

In [ ]:
# booleans
name = 'Kairos' # this assigns to a variable
is_cool = False
is_cool = True
print(bool(1))
print(bool(0))
print(bool('True'))

## Exercise: Type Conversion

In [117]:
name = 'Kairos Tseng'
birth_year = input('what year were you born?')
print(type(birth_year))
age = 2022 - int(birth_year)
print(f'your age is: {age}')

what year were you born?1981
<class 'str'>
your age is: 41

## Exercise: Password Checker

In [119]:
username = input('What is your username?')
password = input('What is your password?')
password_length = len(password)
hidden_password = '*' * password_length
print(f'{username}, your password {hidden_password} is {password_length} letters long.')

What is your username?KAiros
What is your password?123456
KAiros, your password ****** is 6 letters long.

## List

In [120]:
li = [1,2,3,4,5]
li2 = ['a', 'b', 'c']
li3 = [1,2,'a', True]

amazon_cart = ['notebooks', 'sunglasses']
print(amazon_cart[1])

sunglasses

## List Slicing

In [128]:
# List Slicing
amazon_cart = ['notebooks', 'sunglasses', 'toys', 'grapes']
print(amazon_cart[0:2])
print(amazon_cart[0::2])
amazon_cart[0] = 'laptop'
print(amazon_cart[0:3])
print(amazon_cart)

new_cart = amazon_cart
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)

amazon_cart = ['notebooks', 'sunglasses', 'toys', 'grapes']
new_cart = amazon_cart[:]
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)

['notebooks', 'sunglasses']
['notebooks', 'toys']
['laptop', 'sunglasses', 'toys']
['laptop', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']
['notebooks', 'sunglasses', 'toys', 'grapes']

## Matrix

In [131]:
matrix = [
    [1,5,1],
    [0,1,0],
    [1,0,1]
]
print(matrix[0][1])

5

## List Methods

In [151]:
basket = [1,2,3,4,5]
print(len(basket))

#adding
basket = [1,2,3,4,5]
basket.append(100)
new_list = basket
print(basket)
print(new_list)

basket = [1,2,3,4,5]
basket.insert(5, 100)
new_list = basket
print(basket)
print(new_list)

basket = [1,2,3,4,5]
basket.extend([100, 101])
new_list = basket
print(basket)
print(new_list)

#removing
basket = [1,2,3,4,5]
basket.pop()
print(basket)

basket = [1,2,3,4,5]
basket.pop(0)
print(basket)

basket = [1,2,3,4,5]
basket.remove(4)
print(basket)

basket = [1,2,3,4,5]
new_list = basket.pop(4)
print(new_list)

basket = [1,2,3,4,5]
basket.clear()
print(basket)

5
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100, 101]
[1, 2, 3, 4, 5, 100, 101]
[1, 2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3, 5]
5
[]

## List Methods 2

In [163]:
basket = ['a','b','c','d','e']
print(basket.index('d'))
print(basket.index('d', 0, 4))
print('x' in basket)
print('i' in 'hi my name is Ian')
print(basket.count('d'))

3
3
False
True
1

## List Methods 3

In [170]:
basket = ['a','b','c','d','e','d']
basket.sort()
print(basket)

basket = ['a','x','b','c','d','e','d']
print(sorted(basket))
print(basket)

basket = ['a','x','b','c','d','e','d']
new_basket = basket[:]
# new_basket = basket.copy()
new_basket.sort()
print(new_basket)
print(basket)

basket = ['a','x','b','c','d','e','d']
basket.sort()
basket.reverse()
print(basket)

['a', 'b', 'c', 'd', 'd', 'e']
['a', 'b', 'c', 'd', 'd', 'e', 'x']
['a', 'x', 'b', 'c', 'd', 'e', 'd']
['a', 'b', 'c', 'd', 'd', 'e', 'x']
['a', 'x', 'b', 'c', 'd', 'e', 'd']
['x', 'e', 'd', 'd', 'c', 'b', 'a']

## Common List Patterns

In [183]:
basket = ['a','x','b','c','d','e','d']
basket.sort()
basket.reverse()
print(basket[::-1])
print(basket)

basket = ['a','x','b','c','d','e','d']
print(range(1,100))
print(list(range(1,100)))
print(list(range(101)))

new_sentence = ' '.join(['hi', 'my', 'name', 'is', 'JOJO'])
print(new_sentence)

['a', 'b', 'c', 'd', 'd', 'e', 'x']
['x', 'e', 'd', 'd', 'c', 'b', 'a']
range(1, 100)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
hi my name is JOJO

## List Unpacking

In [189]:
# list unpacking
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

## None

In [190]:
weapons = None
print(weapons)

None

## Dictionaries

In [198]:
dictionary = {
    'a': 1,
    'b': 2,
    'x': 3
}
print(dictionary['b'])
print(dictionary)

dictionary = {
    'a': [1,2,3],
    'b': 'hello',
    'x': True
}
print(dictionary['a'])
print(dictionary['a'][1])

my_list = [
    {
        'a': [1,2,3],
        'b': 'hello',
        'x': True
    },
    {
        'a': [4,5,6],
        'b': 'hello',
        'x': True
    },
]
print(my_list[0]['a'][2])

2
{'a': 1, 'b': 2, 'x': 3}
[1, 2, 3]
2
3

## Dictionary Keys

In [205]:
dictionary = {
    123: [1,2,3],
    True: 'hello',
    'is_Magic': True
}
print(dictionary[123])
print(dictionary[True])

dictionary = {
    '123': [1,2,3],
    '123': 'hello',
}
print(dictionary['123'])

[1, 2, 3]
hello
hello

## Dictionary Methods

In [210]:
user = {
    'basket': [1,2,3],
    'greet': 'hello',
}
print(user.get('age'))
print(user.get('age',55))

user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.get('age',55))

user2 = dict(name='JohnJohn')
print(user2)

None
55
20
{'name': 'JohnJohn'}

## Dictionary Methods 2

In [227]:
user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}

print('basket' in user)
print('user' in user)

print('hello' in user.keys())
print('age' in user.keys())
print('hello' in user.values())
print(user.items())

user.clear()
print(user)

user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}
user2 = user.copy()
print(user.clear())
print(user2)

user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.pop('age'))
print(user)

user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.popitem())
print(user)


user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.update({'age': 55}))
print(user.update({'ages': 55}))
print(user)

True
False
False
True
True
dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])
{}
None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}
20
{'basket': [1, 2, 3], 'greet': 'hello'}
('age', 20)
{'basket': [1, 2, 3], 'greet': 'hello'}
None
None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 55, 'ages': 55}

## Tuples

In [232]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1])
print(5 in my_tuple)

user = {
    'basket': [1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.items())

user = {
    (1,2): [1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user[(1,2)])

2
True
dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])
[1, 2, 3]

## Tuples 2

In [246]:
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple[1:2]
print(new_tuple)
new_tuple = my_tuple[1:4]
print(new_tuple)

x,y,z, *other = (1,2,3,4,5)
print(x)
print(y)
print(z)
print(other)

my_tuple = (1,2,3,4,5)
print(my_tuple.count(5))
print(my_tuple.index(5))
print(len(my_tuple))

(2,)
(2, 3, 4)
1
2
3
[4, 5]
1
4
5

## Sets

In [259]:
my_set = {1,2,3,4,5,5}
my_set.add(100)
my_set.add(2)
print(my_set)

my_list = [1,2,3,4,5,5]
print(set(my_list))

my_set = {1,2,3,4,5,5}
print(1 in my_set)
print(len(my_set))
print(list(my_set))

new_set = my_set.copy()
my_set.clear()
print(new_set)
print(my_set)

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5}
True
5
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
set()

## Sets 2

In [274]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))
print(my_set.discard(5))
print(my_set)

my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference_update(your_set))
print(my_set)

my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.intersection(your_set))
print(my_set & your_set)
print(my_set.isdisjoint(your_set))

print(my_set.union(your_set))
print(my_set | your_set)

my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issubset(your_set))
print(my_set.issuperset(your_set))
print(your_set.issuperset(my_set))

{1, 2, 3}
None
{1, 2, 3, 4}
None
{1, 2, 3}
{4, 5}
{4, 5}
False
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True
False
True